<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenidos a la tienda de productos</h1>

        <a href="/realtimeproducts">Ir a productos en tiempo real</a>
    </div>
</body>
</html>